*{
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


.theMain{
	display:flex;	
	flex-direction:row;
	justify-content:space-around;
}

.map{
	
	margin-top: 3%;
	outline: solid 5px black;
	height: 793;
	width: 793;
	background-color: rgb(205, 230, 208);
	display:flex;	
	flex-wrap:wrap;
}

.parking{
	height: 122;
	width: 122;
	border: solid 3px black;
	outline:none;
}
.h1{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h2{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h3{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h4{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h5{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h6{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h7{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h8{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.h9{
	height: 122;
	width: 61;
	border: solid 3px black;
	outline:none;
}
.jail{
	height: 122;
	width: 122;
	border: solid 3px black;
	outline:none;
}


/* .insideBlock{
	height: 549;
	width: 549;
	border: solid 3px black;
	outline:none;
} */
.l1{
	height: 61;
	width: 122;
	border: solid 3px black;
	outline:none;
}

.r9{
	height: 61;
	width: 122;
	border: solid 3px black;
	outline:none;
}
.l2{
	height: 61;
	width: 122;
	border: solid 3px black;
	outline:none;
}
.r8{
	height: 61;
	width: 122;
	border: solid 3px black;
	outline:none;
}

